@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
}

.navlinkStyle {
  text-decoration: none;
  color: gray;
  margin: 0 0.7em;
}

#addButton {
  position: "fixed";
  bottom: "2em";
  right: "2em";
  color: "orange";
  cursor: "pointer";
  transition: "all 0.3s ease";
}
